* {
  font-family: roboto, arial, helvetica;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.logo {
  margin-bottom: 1000;
}
.header {
  position: relative;
}

section {
  display: inline-block;
}
header {
  background-color: rgba(10, 10, 36, 0.966);
  color: aliceblue;
}

a {
  color: aliceblue;
  margin-left: 15px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.info {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex: 0 1 auto;

  /* gap: 100px; */
  /* margin-left: 100px; */
}

.title-txt {
  font-size: 10px;
}

.title-head {
}

.holder {
  display: flex;
  align-items: center;
  width: 1500px;
  height: 150px;
  justify-content: center;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 40px;
  background-color: rgb(99, 106, 126);
}

.holder p {
  text-align: center;
  align-self: flex-start;
}

.btn--1 {
  color: white;
  background-color: rgb(6, 122, 255);
  border-radius: 5px;
  padding: 4px;
  font-size: 15px;
  width: 100px;
}

.btn--2 {
  color: white;
  background-color: rgb(6, 122, 255);
  border-color: aliceblue;
  border-radius: 5px;
  padding: 4px;
  font-size: 15px;
  width: 100px;
}

img {
  border: 3px solid rgb(75, 75, 245);
  border-radius: 5px;
  width: 10%;
  height: 100px;
}

.pics {
  display: flex;
  grid-template-columns: auto;
  
}


.chem {
  box-shadow: 0px 20px 30px gray;
}
.quote {
  background-color: rgba(101, 84, 175, 0.295);
  
}



.action {
  background-color: rgba(5, 118, 247, 0.959);
  color: aliceblue;
  border: 3px solid transparent;
  border-radius: 5px;
  margin-top: 20px;
}

footer {
  background-color: rgb(12, 6, 65);
  color: aliceblue;
  height: 100px;
}

footer p {
  font-size: 10px;
  margin-top: 50px;
}

.copy {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
