* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

.img--1 {
  height: 250px;
  width: 250px;
}

.img {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.header {
  display: flex;
  background-color: #1f1a2e;
  color: white;
}

.links {
  display: flex;
}

.btn {
  background-color: rgb(7, 111, 247);
}

.img--row {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  padding-top: 30px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.img {
  border: 2px solid;
  border-color: cornflowerblue;
  margin: 10px;
}
.quote {
  background-color: rgb(202, 207, 230);
  padding: 50px;
  justify-content: center;
}
.copyright {
  display: flex;
  background-color: #1f1a2e;
  color: white;
  font-size: 10px;
  justify-content: center;
  padding: 30px;
}
