* {
  font-family: sans-serif;
  margin-top: 20px;
}

body {
  background-color: blanchedalmond;
}
table,
th,
tr,
td {
  outline: 1px solid rgb(153, 149, 149);
}

.btn {
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(29, 88, 74);
  color: aliceblue;
}
