* {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

body {
  background-color: azure;
}

.entries {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn {
  border-radius: 7px;
  padding: 10px;
  background-color: rgb(29, 88, 74);
  color: aliceblue;
}

.input {
  border-radius: 7px;
  padding: 10px;
}

.input:hover {
  background-color: rgb(226, 221, 245);
}

.book {
  display: flex;
  align-items: center;
  gap: 300px;
  border: 2px solid rgb(89, 176, 247);
  border-radius: 7px;
  background-color: rgb(189, 226, 238);
  box-shadow: 5px 5px 15px gray;
  margin-bottom: 1px;
}

.title {
  margin-left: 10px;
}
